<% content_for :title, "New user" %>

<h4 style="padding-top:10px;">Join MyQuote Today!</h4>
<p> Getting started on a philosophical journey is easy and free! </p>

<%= render "form", user: @user %>

<!--
<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
-->
