<div id="<%= dom_id categorization %>">
  <p>
    <strong>Quote:</strong>
    <%= categorization.quote_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= categorization.category_id %>
  </p>

</div>
