<% content_for :title, "New categorization" %>

<h1>New categorization</h1>

<%= render "form", categorization: @categorization %>

<br>

<div>
  <%= link_to "Back to categorizations", categorizations_path %>
</div>
